<table width="100%" height = "100%" align="center" cellspacing="1" cellpadding="10" border="0" bgcolor="white">
  <tr>
    <td>
      <a href="medical_news.html">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/mn.png" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b>Medical News</b>
          </td>
        </tr>
      </table></a>
    </td>
    <td>
      <a href="app/alert.php">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/medicine.png" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b> Buy Medicine</b>
          </td>
        </tr>
      </table></a>
    </td>
    <td>
       <a href="app/alert.php">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/Oproducts.png" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b>Other Products</b>
          </td>
        </tr>
      </table></a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="healthTips.html">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/news.jpg" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
             <b>Health Tips</b>
          </td>
        </tr>
      </table></a>
    </td>
    <td>
       <a href="Black_Listed_Medicines.html">
      <table width="100" height="100" align="center">
        <tr>
          <td>
            <img src="images/black_drugs.jpg" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b>Black Listed Drugs</b>
          </td>
        </tr>
      </table></a>
    </td>
    <td>
      <a href="Blood_Bank.html">
      <table width="100" height="100" align="center" border="0">
        <tr>
          <td>
            <img src="images/blood.png" align="middle" alt="SHEBA" width="100" height="100">
          </td>
        </tr>
        <tr>
          <td>
            <b> Blood Bank</b>
          </td>
        </tr>
      </table></a>
    </td>
  </tr>
</table>
