<html>
<form method="post">
	<table width="100%" height="90%" align="center" cellspacing="1" cellpadding="10" border="0" bgcolor="white">
			<td>
				<table align="center" border="1" cellpadding="25" cellspacing="10" width="70%" height="100%">
					<tr>
						<td height="90" colspan="2"><b>LOGIN:</b></td>
					</tr>
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="15" width="60%" height="60%">
								<tr>
									<td>Username:</td>
									<td><input type="text" name="name" /></td>
								</tr>
								<tr>
									<td>Password:</td>
									<td><input type="text" name="pswrd" /></td>
								</tr>
								<tr>
									<td colspan="2"><input name="remember" type="checkbox">Remember Me</td>
								</tr>
								<tr>
									<td><input type="submit" value="Submit"></td>
        							<td><a href="forgot_password.html">Forgot Password?</a></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</form>
</html>
