<fieldset>
    <legend><b>REGISTRATION</b></legend>
    <form method="post">
        <br/>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td width="130"></td>
                <td width="10"></td>
                <td width="230"></td>
                <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><input name="name" type="text"></td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>
                    <input name="email" type="text">
                    <abbr title="hint: sample@example.com"><b>i</b></abbr>
                </td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>User Name</td>
                <td>:</td>
                <td><input name="userName" type="text"></td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input name="password" type="password"></td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Confirm Password</td>
                <td>:</td>
                <td><input name="confirmPassword" type="password"></td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Gender</td>
                <td>:</td>
                <td>   
                    <input name="gender" type="radio" value="male">Male
                    <input name="gender" type="radio" value="female">Female
                    <input name="gender" type="radio" value="other">Other
                </td>
                <td></td>
            </tr>       
            <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td valign="top">Date of Birth</td>
                <td valign="top">:</td>
                <td>
                    <input name="dob" type="text">  
                    <font size="2"><i>(yyyy-mm-dd)</i></font>
                </td>
                <td></td>
            </tr>
             <tr><td colspan="4"><hr/></td></tr>
            <tr>
                <td>Blood Group</td>
                <td>:</td>
                <td>   
                        <select name="blood">
                         <optgroup label="Blood Groups">
                                <option name="blood" value="A+">A+</option>
                                <option name="blood" value="AB+">AB+</option>
                                <option name="blood" value="A-">A-</option>
                                <option name="blood" value="B+">B+</option>
                                <option name="blood" value="B-">B-</option>
                                <option name="blood" value="O+">O+</option>
                                <option name="blood" value="O-">O-</option>
                            </optgroup>
                        </select>
                </td>
                <td></td>
            </tr>
        </table>
        <hr/>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
    <ul>
    <% for(var i = 0; i < errs.length; i++){ %>
        <li><%= errs[i].message %></li>
    <% } %>
    </ul>
</fieldset>
<a href="regAs.html">Back</a>